:root {
  --main-dark: #090305;
  --main-bright: #bfccde;
  --color0: #090305;
  --color1: #A3443D;
  --color2: #335B89;
  --color3: #4E729E;
  --color4: #5C74CD;
  --color5: #6A8AB5;
  --color6: #7B9AC3;
  --color7: #bfccde;
  --color8: #858e9b;
  --color9: #A3443D;
  --color10: #335B89;
  --color11: #4E729E;
  --color12: #5C74CD;
  --color13: #6A8AB5;
  --color14: #7B9AC3;
  --color15: #bfccde;
}