@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("/static/colors_web.css"); /* ← browser-friendly pywal colors */

:root {
  --background-color: var(--color2);
  --link-hover: var(--color2);
  --link-heading: var(--color2);
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--main-dark);
  font-family: "Source Code Pro", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.arch-art {
  color: var(--link-heading);
  font-size: 25px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 30px 125px;
  letter-spacing: 1;
  white-space: pre;
}*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.maincard {
  display: flex;
  flex-direction: column;
  background-color: rgba(35, 35, 35, 0.902);
  margin-top: 5%;
  height: auto;
  max-width: 90%;
  width: 100%;
  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 40px rgb(0, 0, 0);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 1rem;
  padding-top: 5px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 100;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
}

.links h3 {
  color: var(--link-heading);
  font-weight: 600;
  align-items: center;
  display: flex;
}

li::marker {
  content: "";
}

li {
  justify-content: center;
}

a:hover {
  color: var(--link-hover);
  transform: scale(1.1);
  font-weight: 500;
}

a {
  padding: 0px;
  text-decoration: none;
  color: aliceblue;
}

form {
  font-size: 2.5rem;
  margin-bottom: 0px;
  padding-top: 0px;
  border: none;
  color: var(--background-color);
  width: 100%;
}

form input {
  width: 80%;
  min-width: 150px;
  max-width: 100%;
  border: none;
  background-color: rgba(107, 102, 255, 0);
  color: #aaa;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  box-sizing: border-box;
}

form input:focus {
  outline: none;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.bg {
  height: 780px;
  position: fixed;
  width: 1200px;
  margin-left: -5rem;
  background-color: var(--main-bright);
  background-image:
    radial-gradient(at 40% 0%, var(--main-bright) 0px, transparent 50%),
    radial-gradient(at 80% 0%, var(--main-bright) 0px, transparent 50%),
    radial-gradient(at 0% 50%, var(--main-bright) 0px, transparent 50%),
    radial-gradient(at 80% 50%, var(--main-bright) 0px, transparent 50%),
    radial-gradient(at 0% 100%, var(--main-bright) 0px, transparent 50%),
    radial-gradient(at 0% 50%, var(--main-bright) 0px, transparent 50%);
  box-shadow: 0px 0px 30px var(--main-bright);
}

/* Media Queries */
@media (min-width: 500px) {
  .content {
    flex-direction: row;
    gap: 3rem;
  }

  .links {
    width: 300px;
  }

  .search {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .maincard {
    max-width: 1200px;
  }
}
