@import 'colors_pywal.css';


@define-color main-bright @color13;
@define-color main-dark alpha(@color2, 0.8);
@define-color text-color @color15;


* {
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    font-family: FontAwesome, monospace;
    background-color: alpha(@color0, 0.3) ;
    color: @text-color;  
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
    margin: 0;
    min-height: 0px; 
}

window#waybar.hidden {
    opacity: 1;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
    font-weight: bold;
    padding: 0px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: alpha(@text-color,0.3);
    background-color: transparent;  
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    font-size: 20px;
    background: @main-bright;  
    color: @text-color;  
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @main-bright;  
    color: #281f23;  
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-ika,
#custom-hardwarewrap {
    margin: 3px 5px 3px 5px;  
    min-width: 35px;
    border-radius: 5px;
    padding: 5px;
    background-color: @main-dark;  
    color: @text-color;  
    box-shadow: 0 0 2px @color15, 0 0 2px @color13, 0 0 2px @color11;
}

#custom-hardwarewrap {
  font-size:18px;
  margin: 3px 2px 3px 2px;

}

#custom-power {
  margin: 3px 5px 3px 5px;
  font-size:18px; 
  min-width: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-right:13px;
  background-color: @main-dark;  
  color: @text-color;  
  box-shadow: 0 0 2px @color15, 0 0 2px @color13, 0 0 2px @color11;
}


#custom-separator {
    /*margin: 10px 0px 10px 0px;*/
    font-size: 20px;
    background-color: transparent;  
    color: @main-bright;
    padding-bottom:5px;
}

#tray {
    margin: 0px 0px 0px 0px;
}

#battery,
#network,
#custom-colorpick,
#backlight {
    margin: 10px 0px 10px 0px;
    min-width: 25px;
    border-radius: 5px;
    padding-top:0px;
    /*background-color: @main-dark;*/  
    color: @text-color;  
}

#pulseaudio {
    margin: 10px 0px 10px 0px;
    min-width: 25px;
    border-radius: 5px;
    padding-top:0px;
    padding-right:7px;
    /*background-color: @main-dark;*/  
    color: @text-color;  
}


#clock,
#custom-spotify{
    margin: 3px 3px 3px 3px;
    min-width: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @main-dark;  
    color: @text-color;  
    box-shadow: 0 0 2px @color15, 0 0 2px @color13, 0 0 2px @color11;
}

#custom-wayves {
    margin: 3px 3px 3px 3px;
    border-radius: 5px;
    background-color: @main-dark;  
    color: @text-color; 
    
    box-shadow: 0 0 2px @color15, 0 0 2px @color13, 0 0 2px @color11;
    
    padding: 10px;
    font-weight: bold;
}

#custom-wayves {
  font-size:10px;
}

#memory,
#custom-storage,
#custom-nvidia_gpu,
#custom-amd_gpu,
#temperature,
#cpu {
    margin: 8px 0px 8px 0px;
    border-radius: 10px;
    min-width: 35px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: @main-bright;  
    color: shade(@main-dark, 0.4);  
}

menu {
	border-radius: 15px;
	background: @main-dark;
	color: @main-bright;
  margin-top: 20px;
}
menuitem {
	border-radius: 15px;
}
